/* movie-details.component.scss */
.movie-details-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .movie-poster {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .movie-poster img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .movie-info {
    margin-bottom: 20px;
  }
  
  .movie-info h1 {
    margin-bottom: 10px;
    font-size: 2em;
  }
  
  .movie-tagline {
    font-style: italic;
    color: #777;
  }
  
  .movie-description {
    margin-top: 10px;
    font-size: 1.1em;
  }
  
  .movie-details p {
    margin: 5px 0;
  }
  
  .showtimes {
    margin-bottom: 20px;
  }
  
  .showtimes h2 {
    margin-bottom: 10px;
  }
  
  .showtimes ul {
    list-style: none;
    padding: 0;
  }
  
  .showtimes li {
    margin-bottom: 5px;
  }
  
  .book-tickets {
    text-align: center;
  }
  
  .btn-primary {
    background-color: #E35E64;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #d1485f;
  }
  