<div *ngIf="show && !showPaymentGateway" class="book-seats-container">
  <div class="header">
    <h2 class="show-title">Deadpool,A</h2>
    <p class="location">PVR Orion Uptown, Bengaluru</p>
  </div>
  <div class="show-details">
    <p><strong>Start Time:</strong> {{ show.start_time | date: 'short' }}</p>
    <p><strong>End Time:</strong> {{ show.end_time | date: 'short' }}</p>
    <p><strong>Language:</strong> {{ show.language }}</p>
    <p><strong>Format:</strong> {{ show.format }}</p>  
    <button class="btn btn-custom" (click)="openSeatSelectionDialog()">{{ noOfTickets }} Tickets</button>
  </div>

  <h3 class="seat-availability-title">Seat Availability</h3>

  <div class="seat-selection-container">
    <div *ngFor="let seatInfo of show.seat_info; let categoryindex = index" class="seat-category">
      <div class="seat-category-header">{{ seatInfo.type }} - {{ seatInfo.price | currency: 'INR'}}</div>
      <hr>
      
      <div *ngFor="let seat_row of seatInfo.status; let rowindex = index" class="seats-row">
        <div class="row-label">{{ getRowName(categoryindex, rowindex) }}:</div>
        <div class="seat-row-content">
          <div *ngFor="let seat of seat_row | split; let seatIndex = index"
               class="seat-wrapper"
               [ngStyle]="getSeatStyle(seat, categoryindex, rowindex, seatIndex)"
               (click)="toggleSeat(seat, categoryindex, rowindex, seatIndex)">
            <span *ngIf="seat !== '_'">{{ getContinousSeatNumber(categoryindex, rowindex, seatIndex)}}</span>
            <span *ngIf="seat === ' '">&nbsp;</span>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div *ngIf="requiredSeats === 0" class="payable-amount">{{payableAmount | currency: 'INR'}}</div>
  <button *ngIf="requiredSeats === 0" class="btn btn-primary full-width-button" (click)="bookSeats()">Book Seats</button>
</div>

<!-- PaymentGatewayComponent content -->
<app-payment-gateway *ngIf="showPaymentGateway" class="payment-container" [Booking]="Booking_details" [Show]="show" [TotalAmount]="payableAmount"></app-payment-gateway>
