<div *ngFor="let dateGroup of dateGroups" class="date-section">
    <h3>{{ dateGroup._id | date: 'fullDate' }}</h3>
  
    <div *ngFor="let movie of dateGroup.movies" class="movie-section">
      <h4>Movie ID: {{ movie.movie_id }}</h4>
      <div class="shows-container">
        <div *ngFor="let show of movie.shows">
          <button
            mat-raised-button
            [matTooltip]="getSeatInfo(show)"
            matTooltipPosition="above"
            aria-label="Button displaying show timings and seat information"
            (click)="onShowSelect(show)"
          >
          {{ show.start_time | date: 'shortTime' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- #XXX- If we want to optimise it further then we can only get the data for the particular date and adjust the API accordingly. -->
  