<div class="container mt-2">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
        <div class="row mb-3">
          <div class="col-md-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" placeholder="Email" class="form-control" formControlName="username">
            <div *ngIf="f['username'].touched && f['username'].errors">
              <div class="text-danger" *ngIf="f['username'].errors['required']">*Email is required</div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <label for="password">Password</label>
            <i class="fa fa-light fa-eye mx-1" id="togglePassword" (click)="togglePassword('registerpassword')"></i>
            <div class="password-container">
              <input type="password" id="registerpassword" class="form-control" formControlName="password">
            </div>
            <div *ngIf="f['password'].touched && f['password'].errors">
              <div class="text-danger" *ngIf="f['password'].errors['required']">*Password is required</div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="confirmPassword">Confirm Password</label>
            <i class="fa fa-light fa-eye mx-1" id="togglePassword" (click)="togglePassword('password2')"></i>
            <div class="password-container">
              <input type="password" id="password2" class="form-control" formControlName="confirmPassword"
                     (change)="passwordMatchValidator(registerForm)">
            </div>
            <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors">
              <div class="text-danger" *ngIf="f['confirmPassword'].errors['required']">*Password is required</div>
              <div class="text-danger" *ngIf="f['confirmPassword'].errors['mismatch']">*Passwords do not match</div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <label for="mobile_no" class="form-label">Mobile No.</label>
            <input type="tel" id="mobile_no" placeholder="Mobile No." class="form-control" formControlName="mobile_no">
            <div *ngIf="f['mobile_no'].touched && f['mobile_no'].errors">
              <div class="text-danger" *ngIf="f['mobile_no'].errors['required']">*Mobile No. is required</div>
              <div class="text-danger" *ngIf="f['mobile_no'].errors['pattern']">*Mobile No. should be 10 digits</div>
            </div>
          </div>
        </div>
        <div>
          <div class="text-danger" *ngIf="userExists">Email ID is already registered.</div>
          <button type="submit" class="btn btn-primary justify-content-center" [disabled]="!registerForm.valid">Register</button>
        </div>
      </form>
  </div>
  